.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: right;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: right;
}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: right;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: right;
}
div.page
{
    page-break-after: always;
    page-break-inside: avoid;
}
.col-sm-1, .col-xs-1{
	width: 8.33333333%;
}
.col-sm-2, .col-xs-2{
	width: 16.66666667%;
}
.col-sm-3, .col-xs-3{
	width: 25%;
}
.col-sm-4, .col-xs-4{
	width: 33.33333333%;
}
.col-sm-5, .col-xs-5{
	width: 41.66666667%;
}
.col-sm-6, .col-xs-6{
	width: 50%;
}
.col-sm-7, .col-xs-7{
	width: 58.33333333%;
}
.col-sm-8, .col-xs-8{
	width: 66.66666667%;
}
.col-sm-9, .col-xs-9{
	width: 75%;
}
.col-sm-10, .col-xs-10{
	width: 83.33333333%;
}
.col-sm-11, .col-xs-11{
    width: 91.66666667%;
}
.col-sm-12, .col-xs-12{
	width: 100%;
}

.col-lg-1, .col-md-1{
	width: 8.33333333%;
}
.col-lg-2, .col-md-2{
	width: 16.66666667%;
}
.col-lg-3, .col-md-3{
	width: 25%;
}
.col-lg-4, .col-md-4{
	width: 33.33333333%;
}
.col-lg-5, .col-md-5{
	width: 41.66666667%;
}
.col-lg-6, .col-md-6{
	width: 50%;
}
.col-lg-7, .col-md-7{
	width: 58.33333333%;
}
.col-lg-8, .col-md-8{
	width: 66.66666667%;
}
.col-lg-9, .col-md-9{
	width: 75%;
}
.col-lg-10, .col-md-10{
	width: 83.33333333%;
}
.col-lg-11, .col-md-11{
    width: 91.66666667%;
}
.col-lg-12, .col-md-12{
	width: 100%;
}


.col-pdf-1{
	width: 8.33333333%;
}
.col-pdf-2{
	width: 16.66666667%;
}
.col-pdf-3{
	width: 25%;
}
.col-pdf-4{
	width: 33.33333333%;
}
.col-pdf-5{
	width: 41.66666667%;
}
.col-pdf-6{
	width: 50%;
}
.col-pdf-7{
	width: 58.33333333%;
}
.col-pdf-8{
	width: 66.66666667%;
}
.col-pdf-9{
	width: 75%;
}
.col-pdf-10{
	width: 83.33333333%;
}
.col-pdf-11{
    width: 91.66666667%;
}
.col-pdf-12{
	width: 100%;
}
.hidden-sm, .hidden-xs{
	display: block!important;
}
.content{
	width: 100%!important
}
.hidden-pdf{
	display: none!important;
}
label.checkbox input + .virtual::after {
    left: 3px;
    top: 3px;
    transform: none;
}
.signature-container {
    width: 320px;
    overflow: hidden;
    line-height: 40px;
}
.signature-content{
	display: none;
}
.signature-container .img {
   /* height: 40px;*/
    display: block!important;
    float: left;
    border-bottom: 1px solid #111;
}
.signature-container .img img{
	display: block;
    width: 100%;
}

.replase_input {
    display: inline-block;
    border-bottom: 1px solid #000;
    font-size: 16px;
    padding-right: 5px;
}
/*.input-control, .input-control label{
	display: block;
}*/
main{
	min-width: 1150px;
	padding-right: 20px;
	box-shadow: none;
}
label.checkbox, label.radio {
    display: inline-block;
}
main .top-row .input-control  .replase_input{
    max-width: 180px;
}
html, body {
    background-color: #fff;
}
/*header {
    padding: 10px 0 0px;
}*/
.col-xs-12>br, main .top-row .input-control br{
	display: none;
}
.with-border{
	margin-bottom: 20px;
}
.logo img{
		min-width: 180px;
		width: auto;
}
/*main .top-row .input-control {
    margin: 25px 0 10px;
}*/

.select2-container{
	display: none!important;
}
.page-break{
	page-break-after: always;
    page-break-inside: avoid;
}